* {
    margin: 0;
    padding: 0;

}


header {
    position: absolute;
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    row-gap: 50px;
    justify-content: space-between;
    Padding: 0 130px 0 200px;
    background-color: none;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    align-items: center;
}


nav .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 40px;
    font-style: inherit;
    font-weight: bold;
    color: white;
}

nav .logo span {
    font-size: 15px;
}


.navlinks {
    list-style: none;
    display: flex;
    gap: 80px;
}

.social {
    display: flex;
    gap: 50px;
    color: white;
}


.hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(images/image\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: inherit;
}

.hero-content {
    color: white;
    text-align: center;
}

.book_btn {
    background-color: white;
    color: #ff4d4d;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}

.hero-content h4 { 
    font-size: 40px;
    margin-bottom: 20px;
    font-family: cursive;
    font-weight: 300;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 25px;
    font-family: 'cambria', sans-serif;
}
.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'cambria', sans-serif;
}